.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
}

.Message {
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

form {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background: #ffffff;
}

label {
  display: grid;
  gap: 1em;
  color: #ffffff;
}

.list {
  border-radius: 10px;
  background: #ffffff;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}


